body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

.panels{
    display: flex;
    justify-content: center;
}

.panel{
    border:1px solid lightgrey;
    padding:0.5rem;
    text-align: left;
    margin:1rem;
    width:12rem;
    font-size: 1rem;
}

h4{
    text-transform: uppercase;
}

span{
    color:orangered;
    width:5rem;
    display: inline-block;
}
