body {
    font-family: tahoma;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

li {
    border: 1px solid grey;
    padding: 10px;
    margin: 4px auto;
    width: 20%;
    min-width: 160px;
    display: block;
}

span {
    color: orangered;
    margin-left: 8px;
}
